html {
    font-family:Georgia, 'Times New Roman', Times, serif;

}

body {
    margin: 0;
}

header {
    background: rgb(127, 238, 205);
    text-align: center;
    height: max-content;
    padding: 1em;
}

section {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    height: 50%;
}

article {
    flex: 1;
    border-top: 1px solid black;
    border-bottom: 1px solid black;
    padding: 1em;
    height: 80vh;
}

article:nth-child(2) {
    flex: 2;
}

h2{
    text-align: center;
    height: max-content;
    padding: 1em;
    font-size: 30px;
}

/* Grid */
.tablero {
    
    height: 45vh;
    gap: 5px;
    padding: 1%;
    
}

.interior {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr ;
    place-items: center;
    height: 60vh;

}

.cuadro {
    border: solid 3px black;
    height: 90%;
    width: 25%;
    background-color: rgb(235, 173, 173);
}

/* Flex */
.tablero2 {
    
    height: 45vh;
    gap: 5px;
    padding: 1%;
    
    
}

.interior2 {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    

}

.cuadro2 {
    border: solid 3px black;
    height: 90%;
    width: 25%;
    background-color: rgb(217, 241, 79);
    margin: 5px;
}



